*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(5,5,5);
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 100%;
    position: relative;
    background: rgb(10,10,10);
    max-width: 1000px;
    min-height: 1000px;
    margin: 4em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.9);
}

.container .columna{
    position: relative;
    background: rgb(30, 30, 30);
}

.container .principal{
    position: relative;
    background: rgb(220,220,220);
    padding: 40px;
}

.fotoCV{
    background-image: url(foto.jpg);
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    overflow: hidden;
    padding-bottom: 1em;
}

.about{
    color: rgb(220,220,220);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
}

.about h3{
    text-transform: uppercase;
    padding-top: 1em;
}

.about p{
    padding-top: 1em;
}

.contacto{
    padding: 4em 2em;
    color: rgb(220,220,220);
}

.contacto h3{
    text-transform: uppercase;
    padding-bottom: 1em;
}

.contacto ul{
    list-style: none;
    position: relative;
}

ul .texto{
    text-decoration: none;
    color:rgb(220,220,220);
    display: inline-block;
}
ul a:hover{
    text-decoration: none;
    color:rgb(150,150,150);
}

.contacto ul li{
    position: relative;
    padding-bottom: .75em;
}

.contacto ul li .icon{
    position: relative;
    display: inline-block;
    padding-right: .75em;
}

@media (max-width: 1200px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}