*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: -webkit-linear-gradient(top, rgb(25, 50, 230) 0%, rgb(10,10,10) 100%);
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container{
    width: 100%;
    position: relative;
    background: rgb(10,10,10);
    max-width: 1000px;
    min-height: 100%;
    margin: 4em;
    display: grid;
    grid-template-columns: 1fr 2Fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.9);
}

/*////////////////////////////   COLUMNA   ////////////////////////////////////*/

.container .columna{
    position: relative;
    background: rgb(30, 30, 30);
}

.fotoCV{
    background-image: url(foto.jpg);
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    overflow: hidden;
    padding-bottom: 1em;
}

.about{
    color: rgb(220,220,220);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
}

.about h3{
    text-transform: uppercase;
    padding-top: 1em;
    letter-spacing: 2px;
}

.about .texto{
    padding-top: 1em;
}

.contacto{
    padding: 4em 2em 3em 2em;
    color: rgb(220,220,220);
}

.contacto h3{
    text-transform: uppercase;
    padding-bottom: 1em;
    letter-spacing: 2px;
}

.contacto ul{
    list-style: none;
    position: relative;
}

.contacto ul .texto{
    text-decoration: none;
    color:rgb(220,220,220);
    display: inline-block;
}

.contacto ul a:hover, ul a:focus{
    text-decoration: none;
    color:rgb(150,150,150);
}

.contacto ul li{
    position: relative;
    padding-bottom: .75em;
}

.contacto ul li .icon{
    position: relative;
    display: inline-block;
    padding-right: .75em;
}

.skills{
    color: rgb(220,220,220);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.skills h3{
    text-transform: uppercase;
    padding-bottom: 1em;
    letter-spacing: 2px;
}

.skills ul{
    padding-left: 1em;
}

.skills ul li{
    position: relative;
}

.skills ul .texto{
    padding-bottom: .75em;
}

/*////////////////////////////   PRINCIPAL   ////////////////////////////////////*/

.container .principal{
    position: relative;
    background: rgb(220,220,220);
    padding: 40px;
}

.principal .nyayt{
    text-align: center;
    position: relative;
    padding-bottom: 2em;
    }

.nyayt .nombre{
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 5em;
}

.nyayt .apellido{
    font-weight: 1000;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-size: 5em;
    letter-spacing: .125em;
}

.nyayt .titulo{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 2em;
    font-size: 1em;
    position: relative;
}

.nyayt .sep{
    width: 100%;
    background: rgb(10,10,10);
    height: 2px;
    position: absolute;
    top: 120%;
    left: 0;
}

.principal .formacion{
    padding: 3em 0;
}

.formacion h3{
    text-transform: uppercase;
    letter-spacing: 0.125em;
    margin-bottom: 1em;
}

.formacion .bloque{
    padding-bottom: 2em;
}

.formacion .fecha, .formacion .titulo, .formacion .inst{
    display: flex;
    margin-bottom: 1em;
}

.formacion .inst{
    font-weight: bold;
}

.principal .idiomas{
    padding-bottom: 3em;
}

.idiomas h3{
    text-transform: uppercase;
    letter-spacing: 0.125em;
    margin-bottom: 1em;
}

.idiomas .bloque{
    padding-bottom: 1em;
}

.idiomas .texto{
    padding-bottom: 0.5em;
}

.idiomas .inst{
    font-weight: bold;
}

.objetivos h3{
    text-transform: uppercase;
    letter-spacing: 0.125em;
    margin-bottom: 1em;
}

.objetivos .bloque{
    padding-bottom: 1em;
}

.objetivos .texto{
    padding-bottom: 1em;
}

/*///////////////////////////// RESPONSIVE ///////////////////////////*/

@media (max-width: 1200px){

    body{
        display: unset;
    }

    .container{
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        margin-top: -1.15rem;
        margin-bottom: -1.15rem;
    }

    .about, .contacto, .skills{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about h3, .contacto h3, .skills h3{
        margin-left: 0.5em;
    }

    .skills ul{
        list-style: none;
    }
}
